
.feedbackCard{
    cursor: pointer;
}

.newForm{
    height: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5d563;
  height: 68px;
}
.cardHeader img {
  width: 48px;
  object-fit: contain;
}
.subItems {
  display: flex;
  justify-content: space-between;
}
.subItems h6,
p {
  margin: 0;
  font-weight: 500;
}

h6 {
  color: gray;
}

.actionBtnContainer {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.actinBtns {
    width: 100%;
  display: flex;
  justify-content: space-between;
}
